<div class="container-fluid ">
      <div class="row mb-3">
        <div class="col-xl-4  border bg-light"><app-barra></app-barra></div>
        <div class="col-xl-4  border bg-light"><app-dona></app-dona></div>
        <div class="col-xl-4  border bg-light"><app-radar></app-radar></div>
      </div>
    <div class="row ">
      <div class="col-lg-6  border bg-light"><app-map></app-map> </div>
      <div class="col-lg-6  border bg-light"><app-commerces-table></app-commerces-table></div>
    </div>
  </div>
