<!-- <header>
    <span>Pasa el mouse sobre el Boton flotante</span>
    <button>Menu</button>
  </header> -->
  <div class="contenedor">
  <button class="botonF1"  >
    <span class="fa fa-home" aria-hidden="true" ></span>
  </button>
  <button class="btn botonF2" [routerLink]="['/Home']" routerLinkActive="router-link-active">
    <span class="fa fa-home"></span>
  </button>
  <button class="btn botonF3" [routerLink]="['/navbarUsers']" routerLinkActive="router-link-active">
    <span class="fa fa-user-circle" aria-hidden="true"></span>
  </button>
  <button class="btn botonF4"  [routerLink]="['/Mapa']" routerLinkActive="router-link-active">
    <span  class="fa fa-map-marker"  aria-hidden="true"></span>
  </button>
  <button class="btn botonF5">
    <span>+</span>
  </button>
  
   </div>

<!-- 
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav> -->