<!-- 
  <div class="contenedor">
  <button class="botonF1"  >
    <span class="fa fa-home" aria-hidden="true" ></span>
  </button>
  <button class="btn botonF2" [routerLink]="['/Home']" routerLinkActive="router-link-active">
    <span class="fa fa-home"></span>
  </button>
  <button class="btn botonF3" [routerLink]="['/navbarUsers']" routerLinkActive="router-link-active">
    <span class="fa fa-user-circle" aria-hidden="true"></span>
  </button>
  <button class="btn botonF4"  [routerLink]="['/Mapa']" routerLinkActive="router-link-active">
    <span  class="fa fa-map-marker"  aria-hidden="true"></span>
  </button>
  <button class="btn botonF5">
    <span>+</span>
  </button>
  
   </div>
 -->
