<p>registry works!</p>

<form action="" [formGroup]="formGroup"  class="formGroup" (ngSubmit)="GuardarFormulario()">

    
    <label for="">Nombre</label>
    <input type="text"  formControlName="nombre" name="nombre" [(ngModel)]="usuario .nombre">
    <small *ngIf="ValidarNombre">
        <span class="text-danger">Password Incorrecto</span>
    </small>
    <br>    
    <label for="">Correo</label>
       <input type="text"  formControlName="correo"name="correo" [(ngModel)]="usuario.correo" (keyup)="ValidarEmailActual()">
    <small *ngIf="ValidarCorreo"><span class="text-danger">Password Incorrecto</span></small>
    <small *ngIf="email"><span class="text-danger">Por favor Utilice otro correo, ya esta en uso el actual</span></small>
    <!-- ValidarSiExisteEmail() -->
    <br>    
    <label for="">password</label>
        <input type="password" formControlName="password" name="password"  [(ngModel)]="usuario.Password">
    <small *ngIf="ValidarPassword"><span class="text-danger">Password Incorrecto</span></small>
    <br>
    <label for="">Confirmar password</label>
        <input type="password" formControlName="confirmpassword" name="confirmpassword"    placeholder="1234">
    <small *ngIf="ConfirmacionPassword"><span class="text-danger">Password Incorrecto</span></small>
    <br>
    <button type="submit">Enviar</button>
</form>
     <a href="login">login</a>